<div class="dashboard_top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top_section">
                    <div class="title">
                        <h2>Dashboard</h2>
                    </div>
                    <div class="search_icon">
                        <p>20 Sep 2019, Friday</p>
                        <mat-icon>search</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content_section">
                    <div class="content_text">
                        <h2>Welcome back Anna !</h2>
                        <p>You've learned 80% of your goal this week ! Keep it up and improve your results!</p>
                    </div>
                    <img src="../../../assets/img/banner_char.png" />
                </div>
            </div>
        </div>
    </div>
</div>