.dashboard_content {
  margin-top: 50px;
  .content_section {
    background-color: #f7e5e9;
    height: 200px;
    border-radius: 15px;
    .content_text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 390px;
      padding: 0 46px;
      @media (max-width: 600px) {
        padding: 0 25px;
      }
      h2 {
        color: #fe616f;
        font-size: 23px;
        margin-bottom: 25px;
      }
      p {
        font-size: 15px;
      }
    }
    img {
      position: absolute;
      top: -25px;
      right: 70px;
      height: 200px;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
  .mid_sec {
    margin-top: 50px;
    .latest_results {
      .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        h4 {
          font-size: 19px;
          margin-bottom: 0;
        }
        p {
          display: flex;
          align-items: center;
          font-size: 13px;
          margin-bottom: 0;
          font-weight: bold;
          .mat-icon {
            margin-left: 15px;
          }
        }
      }
      .results_content {
        .result_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 35px;
          .text {
            width: 270px;
            h5 {
              font-size: 14px;
              span {
                color: #a4a4a4;
              }
            }
          }
          .progressbar {
            width: 100%;
            display: flex;
            align-items: center;
            ::ng-deep ngb-progressbar {
              height: 5px;
              background-color: #d8d8d8;
              width: 100%;
              .progress-bar {
                &.text-lightBlue {
                  background-color: #5e81f4 !important;
                }
                &.text-orange {
                  background-color: #ff808b !important;
                }
              }
            }
            span {
              margin-left: 15px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .last_sec {
    margin-top: 25px;
    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      h4 {
        font-size: 19px;
        margin-bottom: 0;
      }
      p {
        display: flex;
        align-items: center;
        font-size: 13px;
        margin-bottom: 0;
        font-weight: bold;
        .mat-icon {
          margin-left: 15px;
        }
      }
    }
    .box_item {
      border-radius: 15px;
      padding: 20px 15px;
      color: #fff;
      display: flex;
      align-items: end;
      justify-content: space-between;
      @media (max-width:600px){
        margin-bottom: 15px;
      }
      &.darkblue {
        background-color: #4d4cac;
      }
      &.purpleblue {
        background-color: #9698d6;
      }
      &.orange {
        background-color: #ff808b;
      }
      .left_content {
        display: flex;
        .lang_code {
          font-size: 16px;
          padding: 12px;
          border-radius: 7px;
          margin-bottom: 0;
          margin-right: 15px;
          &.darkblue_light {
            background-color: #5a5ab2;
          }
          &.purpleblue_light {
            background-color: #a4a6db;
          }
          &.orange_light {
            background-color: #ff919b;
          }
        }
        .lang_text {
          h4 {
            font-size: 13px;
            margin-bottom: 0;
          }
          p {
            margin-bottom: 0;
            font-size: 18px;
          }
        }
      }
    }
  }
}
