<div class="right_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading_section">
          <h2>Logout</h2>
          <mat-icon>settings_power</mat-icon>
        </div>
        <div class="profile_section">
            <div class="upload_img">
                <img src="../../../assets/img/dummy-profile.png" />
                <span>+</span>
            </div>
            <div class="profile_name">
                <h4>Anna Morrison</h4>
                <p>Student</p>
            </div>
        </div>
        <div class="language_section">
            <div class="lang_id">
                <h4>B2</h4>
            </div>
            <div class="lang_name">
                <h4>English</h4>
                <p>High intermediate</p>
            </div>
            <div class="lang_progress">
                <ngb-progressbar type="success" textType="white" [value]="60"></ngb-progressbar>
            </div>
        </div>
        <div class="language_section">
            <div class="lang_id">
                <h4>C1</h4>
            </div>
            <div class="lang_name">
                <h4>Spanish</h4>
                <p>Advanced</p>
            </div>
            <div class="lang_progress">
                <ngb-progressbar type="success" textType="white" [value]="70"></ngb-progressbar>
            </div>
        </div>
        <div class="reminder_section">
            <div class="section_heading">
                <h4>Reminders</h4>
                <mat-icon>notifications_none</mat-icon>
            </div>
            <div class="section_content">
                <div class="section_item">
                    <div class="icon">
                        <mat-icon>error_outline</mat-icon>
                    </div>
                    <div class="main_content">
                        <h4>Eng - Vocabulary test</h4>
                        <p>24 Sep 2019, Friday</p>
                    </div>
                </div>
                <div class="section_item">
                    <div class="icon">
                        <mat-icon class="mail">mail_outline</mat-icon>
                    </div>
                    <div class="main_content">
                        <h4>Eng - Vocabulary test</h4>
                        <p>24 Sep 2019, Friday</p>
                    </div>
                </div>
                <div class="section_item">
                    <div class="icon">
                        <mat-icon class="mail">mail_outline</mat-icon>
                    </div>
                    <div class="main_content">
                        <h4>Eng - Vocabulary test</h4>
                        <p>24 Sep 2019, Friday</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
