<div class="top_header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <h2>Logo</h2>
          <mat-icon class="icon_close" (click)="closenav()">close</mat-icon>
        </div>
        <div class="side_nav">
          <ul>
            <li routerLink="/dashboard" routerLinkActive="active">
              <mat-icon>dashboard</mat-icon> <span>Dashboard</span>
            </li>
            <li routerLink="/class" routerLinkActive="active">
              <mat-icon>ballot</mat-icon> 
              <span>Classes</span>
            </li>
            <li routerLink="/resources" routerLinkActive="active">
              <mat-icon> insert_drive_file</mat-icon>
              <span>Resources</span>
            </li>
            <li routerLink="/learning-plan" routerLinkActive="active">
              <mat-icon>calendar_today</mat-icon>
              <span>Learning Plan</span>
            </li>
            <li routerLink="/chat" routerLinkActive="active">
              <mat-icon class="icon_chat"> chat_bubble_outline <span class="chat_badge">4</span></mat-icon>
              <span>Chat</span>
            </li>
            <li routerLink="/settings" routerLinkActive="active">
              <mat-icon>edit</mat-icon>
              <span>Settings</span>
            </li>
          </ul>
        </div>
        <div class="upgrade_img">
            <img src="../../../assets/img/upgrade-image.png" />
            <p>Upgrade to <span>PRO</span> for more resources.</p>
            <button>Upgrade</button>
        </div>
      </div>
    </div>
  </div>
</div>
