.section_container{
    padding: 20px;
    display: flex;
    @media (max-width:600px){
        display: block;
    }
    .left_section{
        width: 15%;
        @media (max-width:600px){
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fff;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 14px;
            height: 100%;
            box-shadow: 1px 0px 6px #c6c6c6;
        }
    }
    .middle_section{
        width: 60%;
        padding-right: 50px;
        @media (max-width:600px){
            width: 100%;
            padding-right: 0;
        }
    }
    .right_section{
        width: 25%;
        @media (max-width:600px){
            width: 100%;
        }
    }
}