/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}
body, ul, li {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
 li{
    list-style: none;
 }
 .dashboard_top {
  .top_section {
    display: flex;
    justify-content: space-between;
    .title {
      @media (max-width: 600px) {
        display: flex;
        align-items: center;
      }
      .burger_menu {
        display: none;
        margin-right: 15px;
        @media (max-width: 600px) {
          display: block;
        }
      }
      h2 {
        font-size: 30px;
        color: #111;
        margin-bottom: 0;
      }
    }
    .search_icon {
      display: flex;
      align-items: center;
      p {
        margin-right: 15px;
        font-size: 15px;
        margin-bottom: 0;
        color: #5e5e5e;
        @media (max-width: 600px) {
          display: none;
        }
      }
      .mat-icon {
        background-color: #e5e9fa;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
      }
    }
  }
}

